

    <!-- Include Nav Template -->
    @includeNamed{'nav.templ'}

    Hello @{context.get("User")} and @{context.get("bar")}
    Request path is @{context.request().path()}

    @foreach{entry: context.request().headers().entries()}
    @{entry.key}: @{entry.value}<br>
    @end{}

    <!-- Include Nav Template -->
    @includeNamed{'end.templ'}

