

    <!-- Include Nav Template -->
    @includeNamed{'nav.templ'}

    Hello @{context.session().get("user")} and role @{context.get("role")}
    Request path is @{context.request().path()}

    @foreach{entry: context.request().headers().entries()}
    @{entry.key}: @{entry.value}<br>
    @end{}

    <!-- Include Nav Template -->
    @includeNamed{'end.templ'}

